body{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
div input{
    width: 80%;
    text-align: center;

}